.navbar {
  background: #1696d2;
}

.navbar-brand {
  /* color: #FFFFFF; */
  /* font-weight: bolder; */
  width: 300px;
  position: absolute;
  z-index: 1;
  top: -20px;
}

.navbar-brand-name {
  font-family: 'Dancing Script', cursive;
  /* font-family: cursive; */
  color: #FFFFFF;
  left: 50%;
  position: absolute;
  transform: translatex(-50%);
  font-size: 1.8rem;
}

.nav-link {
  font-size: 1.2em;
}

.image-intro {
  max-height: 400px;
  overflow: hidden;
  display: grid;
}

.image-intro > img {
  max-width: 100%;
  margin-top: -14%;
  z-index: -10;
}

.navbar, .three-column {
  padding-left: 80px;
  padding-right: 80px;
}

.footer {
  padding-left: 20px;
  padding-right: 20px;
}



/* brief intro */
.brief-intro {
  text-align: center;
  background: #1696d2;
  color: white;
  padding: 70px 140px;
  border-bottom: 2px solid #dfe6e9;
}

.brief-intro b {
  font-weight: bolder;
}

hr {
  /* max-width: 20%;
  min-width: 15%; */
  width: 15%;
  border-width: 6px;
  background-color: #1696d2;
}

.brief-intro > hr {
  background-color: #ffd49f;
}

.three-column {
  /* margin: 120px 0; */
  /* background-color: #f1f1f1; */
  padding-top: 120px;
  padding-bottom: 120px;
}

.three-column h2 {
  color: #ff9b1f;
}

.three-column img {
  padding-bottom: 30px;
}

.three-column .btn {
  border-color: #ffd49f;
  border-radius: 3px;
  border-width: 3px;
}

.category {
  text-align: center;
  margin-bottom: 40px;
}

.category img {
  width: 100px;
}


/* assistance */
  .assistance {
    padding: 60px 40px;
  }

  .assistance h3 {
    padding-top: 30px;
  }
  .assistance .address {
    padding-top: 10px;
  }

  .linkages {
    padding: 200px 40px;
  }


/* footer */
  .footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #1696d2;
    border-top: 2px solid #dfe6e9;
    color: rgba(255,255,255,0.7);
  }

  .footer .links {
    margin-bottom: 60px;
  }

  .footer h3 {
    color: 	#ffd49f;
  }

  .footer ul {
    list-style-type: none;
  }

  .footer li {
    padding-bottom: 8px;

  }

  :focus{outline: none;}

  .footer a:link, .footer a:visited {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .footer a:hover {
    color: #e36809;
  }

  .footer .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer .address {
    margin-bottom: 60px;
  }

  .footer .contact {
    text-align: center;
    padding-left: 20px;
  }



/* ################################################
          ABOUT_US PAGE
################################################ */

.main {
  padding: 80px;
}

.company-info {
  margin-bottom: 60px;
}

.company-info h2, .company-info p, .team > h1  {
  text-align: center;
}

.info-block {
  margin-bottom: 60px;
}

.info-block .list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 20px;
}

ul.list {
  list-style-type: none;
  padding: 0;
}

.member {
  margin-bottom: 60px;
}

.zulay img{
  object-fit: cover;
  object-position: 0% 50%;
}

.rocio img {
  object-fit: cover;
  object-position: 50% 50%;
}

.card-title {
  color: #1696d2;
}













  @media (max-width: 991.98px) {

    .navbar, .brief-intro, .three-column {
      padding-left: 20px;
      padding-right: 20px;
    }

    .navbar-brand {
      margin-left: -34px;
      /* width: 190px; */
      width: 130px;
      position: absolute;
      z-index: 1;
      top: -10px;
    }

    .navbar-brand-name {
      font-size: 1.3rem;
    }

    .footer {
      display: grid;
      grid-template-columns: 1fr;
    }

    .footer {
      text-align: center;
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
    }

    .footer ul {
      padding-left: 20px;
    }

    .footer li {
      padding: 0;
      margin: 0;
    }





    /* ################################################
              ABOUT_US PAGE - MOBILE
    ################################################ */

    .main {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 70px;
    }

    .info-block .list {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }
  }


/* @media (min-width: 992px) {
  .navbar {
    display: grid;
    grid-template-columns: repeat(8, auto);
  }
} */






* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}

.carousel-cell {
  margin-right: 20px;
  overflow: hidden;
}

.carousel-cell img {
  display: block;
  height: 200px;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 400px;
  }
}